.cancellation-return-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888792;
    border-radius: 8px;
    background-color: #7b7a84;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: rgb(14, 13, 63);
    cursor: pointer;
  }
  
 
  
  p {
    margin-top: 15px;
    color: #ffffff;
  }
  